<%- include("_header") -%>

    <h1>Liste des livres (
        <%= model.length %>)</h1>

    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Montant</th>
                    <th>Vendeur</th>
                    <th>Region</th>
                    <th>Date</th>

                </tr>
            </thead>
            <tbody>
                <% for (const ca of model) { %>
                    <tr>
                        <td>
                            <%= ca.montant %>
                        </td>
                        <td>
                            <%= ca.vendeurId %>
                        </td>
                        <td>
                            <%= ca.regionId %>
                        </td>
                        <td>
                            <%= ca.date %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <%- include("_footer") -%>